@model Transneft.Web.ViewModels.PowerPointCreateViewModel
@{
    ViewData["Title"] = "Новая точка измерения";
}

<div class="container">

    @using (Html.BeginForm("Create", "PowerPoint", FormMethod.Post, new { @id="createForm", @class = "was-validated "}))
    {
        <div class="row">
            <div class="col-md-6">
                <h4>Новая точка : #1</h4>
                <div class="form-group">
                    <label>Наименование:</label>
                    <input type="text" class="form-control" name="name" required>
                    <label>Объект потребления:</label>
                    <select class="form-control disabled" name="consumptionobjectId" required>
                        @foreach (var item in Model.ConsumptionObjects)
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Счетчик электр. энергии :</h4>
                <div class="form-group">
                    <label>Номер:</label>
                    <input type="text" class="form-control" name="electricitymeter.number" placeholder="048456/12-01" required>
                    <label>Дата проверки:</label>
                    <input type="datetime" class="form-control" name="electricitymeter.date" required>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Трансформатор тока :</h4>
                <div class="form-group">
                    <label>Номер:</label>
                    <input type="text" class="form-control" name="currenttransformer.number" placeholder="048456/12-01" required>
                    <label>Дата проверки:</label>
                    <input type="datetime" class="form-control" name="currenttransformer.date" required>
                    <label>КТТ:</label>
                    <input type="number" class="form-control" name="currenttransformer.ktt" placeholder="0.00" required>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Трансформатор напряжения:</h4>
                <div class="form-group">
                    <label>Номер:</label>
                    <input type="text" class="form-control" name="voltagetransformer.number" placeholder="048456/12-01" required>
                    <label>Дата проверки:</label>
                    <input type="datetime" class="form-control" name="voltagetransformer.date" required>
                    <label>КТН:</label>
                    <input type="number" class="form-control" name="voltagetransformer.ktn" placeholder="0.00" required>
                </div>
            </div>
        </div>
        <input id="btn" class="btn btn-primary" type="submit" value="Сохранить" />
    }

</div>

<script type="text/javascript">
    $('#btn').click(function (e) {
        e.preventDefault();

        if ($('#createForm')[0].checkValidity()) {
            var data = $('#createForm').serialize();
            $.ajax({
                url: "/powerpoint/create",
                type: "post",
                data: data,
                dataType: 'JSON',
                success: function (data) {
                    alert("Данные успешно сохранены!");
                }
            });
        }
    });
</script>