@* иряър *@
<header id="header">
    <nav class="floating-menu">
        <ul class="main-menu">
            <li>
                <a href="/" class="ripple">
                    #1
                </a>
            </li>
            <li>
                <a href="/powerpoint/overdue" class="ripple">
                    #3
                </a>
            </li>
            <li>
                <a href="/powerpoint/overdue" class="ripple">
                    #4
                </a>
            </li>
            <li>
                <a href="/powerpoint/overdue" class="ripple">
                    #5
                </a>
            </li>
        </ul>
        <div class="menu-bg"></div>
    </nav>
</header>